<h1>Login</h1>

<form action="/session/login" method="post">

   
    Email: <input type="text" name="email" required><br>
    <br>
    Contraseña: <input type="text" name="password" required><br>
    <br>
    <input type="submit" value='login'>

    <h2>Si no tienes usuario, registrate</h2>
    <a href="http://localhost:8080/session/register">ir a Register</a>

    <h2>Si no tienes usuario, inicia sesion con GitHub</h2>
    <a href="/session/github">Iniciar Sesion con GitHub</a>


</form>