<h1>Login</h1>

<form action="/session/login" method="post">

   
    Email: <input class="border-pink-700 border-2" type="text" name="email" required><br>
    <br>
    Contraseña: <input class="border-pink-700 border-2" type="text" name="password" required><br>
    <br>
    <input class="bg-pink-600 text-white p-2 m-2 rounded-lg" type="submit" value='login'>

    <h2 class="m-3">Si no tienes usuario, registrate</h2>
    <a class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="http://localhost:8080/session/register">ir a Register</a>

    <h2 class="m-3">Si no tienes usuario, inicia sesion con GitHub</h2>
    <a class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="/session/github">Iniciar Sesion con GitHub</a>


</form>