<h1>Registro</h1>

<form action="/session/register"  method="post">

    Nombre: <input class="border-pink-700 border-2" type="text" name="first_name" required><br>
    <br>
    Apellido: <input class="border-pink-700 border-2" type="text" name="last_name" required><br>
    <br>
    Email: <input class="border-pink-700 border-2" type="text" name="email" required><br>
    <br>
    Edad: <input class="border-pink-700 border-2" type="text" name="age" required><br>
    <br>
    Contraseña: <input class="border-pink-700 border-2" type="text" name="password" required><br>
    <br>
    Admin: <input type="checkbox" name="rol" value="admin">
    <br>
    <br>
    <input class="bg-pink-600 text-white p-2 m-2 rounded-lg" type="submit" value='Register'>

    <hr>

    <h2 class="m-3" >Si ya tines usuario</h2>
    <a class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="http://localhost:8080/session/login">Ir a login</a>


</form>