<h1>Nueva contraseña para {{user}}</h1>

<form action="http://localhost:8080/reset-password/{{user}}" method="post">
    ingresa tu nueva contraseña: <input type="text" name="newPassword"> <input class="bg-pink-600 text-white p-2 m-2 rounded-lg" type="submit" value="Reestablecer contraseña"><br><br>
</form>