<h1>Crear Producto</h1>

<form action="http://localhost:8080/api/products"  method="post">

    Title: <input class="border-pink-700 border-2" type="text" name="title" required><br>
    <br>
    Description: <input class="border-pink-700 border-2" type="text" name="description" required><br>
    <br>
    Code: <input class="border-pink-700 border-2" type="text" name="code" required><br>
    <br>
    Price: <input class="border-pink-700 border-2" type="number" name="price" required><br>
    <br>
    Stock: <input class="border-pink-700 border-2" type="number" name="stock" required><br>
    <br>
    Category: <input class="border-pink-700 border-2" type="text" name="category" required><br>
    <br>
    Thumbnails: <input class="border-pink-700 border-2" type="text" name="thumbnails" required><br>
    <br>
    <input class="bg-pink-600 text-white p-2 m-2 rounded-lg" type="submit" value='Crear Producto'>

    <hr>


</form>

