<h1>Eliminar Producto</h1>

<section id="contenedor">

<form>

    Id del producto: <input class="border-pink-700 border-2" type="text" id="producto" required><br>

    <input class="bg-pink-600 text-white p-2 m-2 rounded-lg" type="submit" value="Eliminar producto" id="submit">

</form>

</section>

<script src="js/productManager.js"></script>