<h1>Eliminar Producto</h1>

<section id="contenedor">

<form>

    Id del producto: <input type="text" id="producto" required><br>

    <input type="submit" value="Eliminar" id="submit">

</form>

</section>

<script src="js/productManager.js"></script>