<h1>Reestablecer contraseña</h1>

<form action="http://localhost:8080/api/users/forget-password" method="post">
    Email: <input class="border-pink-700 border-2" type="text" name="email"> <input class="bg-pink-600 text-white p-2 m-2 rounded-lg" type="submit" value="Reestablecer contraseña"><br><br>
</form>