<h1>Envia un mensaje</h1>

<form action="/chat" method="post">
    user:<input type="email" name="user">
    messages:<input type="text" name="messages">

    <input type="submit" value="enviar">

</form>

<section id="messages">
    {{#each historial}}
        <hr/>
        <h2>user: {{this.user}}</h2>
        <p><strong>mensaje</strong>: {{this.message}}</p>
        <hr/>
        
    {{/each}}
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="js/messages.js"></script>