<div>
    <h1 class="m-3">Access denied: {{error}}</h1>
    <a class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="http://localhost:8080/products"><button>Ir a Productos</button></a>
    <hr>
    <h2 class="m-3">Si no tienes usuario</h2>
    <a class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="http://localhost:8080/session/register"><button>Registrate</button></a>
</div>