<div>
    <h1>Error details: {{error}}</h1>
    <a href="http://localhost:8080/session/login"><button>Ir a login</button></a>
    <hr>
    <h2>Si no tienes usuario</h2>
    <a href="http://localhost:8080/session/register"><button>Registrate</button></a>
</div>