<div>
    <h1>{{error}} - Inicia sesion</h1><br>
    <a class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="http://localhost:8080/session/login"><button>Ir a login</button></a>
    <h2 class=" pt-4  ">Si no tienes usuario</h2><br>
    <a class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="http://localhost:8080/session/register"><button>Registrate</button></a>
</div>