<div>
    <h1>Este usuario ya existe, intenta con otro email</h1><br>
    <a  class="bg-pink-600 text-white p-2 m-2 rounded-lg" href="http://localhost:8080/session/register"><button>Ir a Register</button></a>
</div>